*{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#r1{
    background-color: gray;
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
}

#r1c1{
    text-align: center;
    width: 50%;
}
#r1c2{
    text-align: center;
    width: 50%;
}

#r2r1,#r2r2,#r2r3,#r2r4{
    display: flex;
}

#r2r1c1,#r2r1c2,#r2r1c3,#r2r2c1,#r2r2c2,#r2r2c3,#r2r3c1,#r2r3c2,#r2r3c3,#r2r4c1,#r2r4c2,#r2r4c3{
    width: 24%;
    margin-right: 4%;
    background-color: gray;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-top: 10px;
}

#r2r1c4,#r2r2c4,#r2r3c4,#r2r4c4{
    width: 24%;
    background-color: gray;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-top: 10px;
}

#r3{
    text-align: center;
    background-color: gray;
    margin-top: 10px;
    padding: 20px;
}

