.vd{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

h2{
    background-color: rgba(121, 132, 88, 1);
    color: #ffff;
}